body {
  margin-top: 50px;
  margin-bottom: 90px;
  text-align: center;
  color: white;
  background: url('../img/bg.jpg') center center repeat;
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-family: 'Exo', sans-serif;
  color: #77ffff;
}

form {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 65px;
}

input, p {
  margin-bottom: 30px;
}

.results {
  display: none;
}

img {
  width: 400px;
  margin-bottom: 30px;
}

#earthImage {
  width: 250px;
}
